{% extends "PWMyBundle::layout.html.twig" %}

	{% block title %}
		Bienvenue
	{% endblock %}
	{% block form %}
	<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h1 class="text-center">Bienvenue</h1>
        </div>
         <div class="modal-body">
             <div class="form-group">
                 {% block login%}
			                {% if erreurCo is defined %}
								{{ erreurCo }}
							{% endif %}
							{{form_start(connexion)}}
							{{ form_widget(connexion.login, {'attr': {'class':'form-control input-lg'}}) }}
             </div>

             <div class="form-group">
                 {{ form_widget(connexion.mdp, {'attr': {'class':'form-control input-lg'}}) }}
             </div>

             <div class="form-group">
                 {{ form_widget(connexion.save, {'attr': {'class':'btn btn-block btn-lg btn-primary'}}) }}
       
             </div>
							{{form_end(connexion)}}
							{% if erreurIns is defined %}
								{{ erreurIns }}
							{% endif %}  
		        {% endblock %}
         </div>
         <div class="modal-body">
             <div class="form-group">
             	<h1 class="text-center">Inscription</h1>
                 {% block register%}
                        {% if reussiIns is defined %}
                        {{ reussiIns }}
                      {% endif %}
                      {{form_start(inscription)}}
                      <div class="form-group">
                                 {{ form_widget(inscription.pseudo, {'attr': {'class':'form-control input-lg'}}) }}
                            </div>
                            <div class="form-group">
                                 {{ form_widget(inscription.login, {'attr': {'class':'form-control input-lg'}}) }}
                            </div>
                            <div class="form-group">
                                 {{ form_widget(inscription.mdp, {'attr': {'class':'form-control input-lg'}}) }}
                            </div>
                            <div class="form-group">
                                 {{ form_widget(inscription.avatar, {'attr': {'class':'form-control input-lg'}}) }}
                            </div>
                            <div class="form-group">
                                 {{ form_widget(inscription.save, {'attr': {'class':'btn btn-block btn-lg btn-primary'}}) }}
                             </div>
                        {{form_widget(inscription)}}
                        {{form_end(inscription)}}
                      {% endblock %}           
                  </div>
    </div>
 </div>
</div>
{% endblock %}
	