<html>
	<body>
		Hello! {{pseudo}}
		<a href="{{ url('/deconnexion') }}">Deconnexion</a>

		{{form_start(rechercheForm)}}
		{{form_widget(rechercheForm)}}
		{{form_end(rechercheForm)}}

		{% if mesGroupes is defined %}
			<table>
			<tr> 
			<th><a href="{{ path('/group', {'ordre':'exp', 'sens':'desc'}) }}">-</a>
				Experience
				<a href="{{ path('/group', {'ordre':'exp', 'sens':'asc'}) }}">+</a>
			</th> 
			<th><a href="{{ path('/group', {'ordre':'nom', 'sens':'desc'}) }}">-</a>
			Nom
			<a href="{{ path('/group', {'ordre':'nom', 'sens':'asc'}) }}">+</a>
			</th>
			<th><a href="{{ path('/group', {'ordre':'argent', 'sens':'desc'}) }}">-</a>
			Argent
			<a href="{{ path('/group', {'ordre':'argent', 'sens':'asc'}) }}">+</a>
			</th>
			<th><a href="{{ path('/group', {'ordre':'nbh', 'sens':'desc'}) }}">-</a>
			Homme
			<a href="{{ path('/group', {'ordre':'nbh', 'sens':'asc'}) }}">+</a>
			</th>
			</tr>
			{% for couple in mesGroupes %}
				<tr>
				<th> {{ couple[0] }} </th>
				<th> {{ couple[1].getNomGroupe()}} </th>
				<th> {{ couple[1].getArgent()}} </th> 
				<th> {{ couple[2]}} </th>
				</tr>
			{% endfor %}
			</table>
		{% endif %}

		{{form_start(form)}}
		{{form_widget(form)}}
		{{form_end(form)}}
		

		
	</body>
</html>
