{% extends "PWMyBundle::layout.html.twig" %}
{% block title %}
    Home
{% endblock %}
{% block nav %}
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container"> 
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a target="_blank" href="#" class="navbar-brand">KENYLAM GAME</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li class="active"><a href="{{ path('/group') }}">Mes groupes</a></li>
                <li><a href="{{ path('/group', {'all':'true'}) }}">Tous les groupes</a></li>
                <li><a href="{{ url('/deconnexion') }}">Deconnexion</a></li>
                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">DropDown
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Link 2</a></li>
                    </ul>
                 </li>              
             </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong>{{pseudo}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>{{pseudo}}</strong></p>
                                        <p class="text-left">
                                            <a href="#" class="btn btn-primary btn-block btn-sm">Profile</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider navbar-login-session-bg"></li>
                         <li><a href="#">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
            <li class="divider"></li>
            <li><a href="#">User stats <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
            <li class="divider"></li>
            <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
            <li class="divider"></li>
            <li><a href="#">Favourites Snippets <span class="glyphicon glyphicon-heart pull-right"></span></a></li>
            <li class="divider"></li>
            <li><a href="{{ url('/deconnexion') }}">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block body%}
		{{form_start(rechercheForm)}}
		{{form_widget(rechercheForm)}}
		{{form_end(rechercheForm)}}

		{% if groupes is defined %}
			<table>
			{% set all = (app.request.attributes.get('all') ) %}
			<tr> 
			<th><a href="{{path('/group',{'ordre':'exp','sens':'desc','all':all})}}">-</a>
				Experience
				<a href="{{path('/group',{'ordre':'exp','sens':'asc','all':all})}}">+</a>
			</th> 
			<th><a href="{{path('/group',{'ordre':'nom','sens':'desc','all':all})}}">-</a>
			Nom
			<a href="{{path('/group',{'ordre':'nom','sens':'asc','all':all})}}">+</a>
			</th>
			<th><a href="{{path('/group',{'ordre':'argent','sens':'desc','all':all})}}">-</a>
			Argent
			<a href="{{path('/group',{'ordre':'argent','sens':'asc','all':all})}}">+</a>
			</th>
			<th><a href="{{path('/group',{'ordre':'nbh', 'sens':'desc','all':all})}}">-</a>
			Homme
			<a href="{{path('/group',{'ordre':'nbh','sens':'asc','all':all})}}">+</a>
			</th>
			</tr>
			{% for couple in groupes %}
				<tr>
				<th> {{ couple[0] }} </th>
				<th><a href="{{ path('/homme', {'idGroupe':couple[1].getId() }) }}"> 
					{{ couple[1].getNomGroupe()}} </a></th>
				<th> {{ couple[1].getArgent()}} </th> 
				<th> {{ couple[2]}} </th>
				{% if supprimable is defined and supprimable == true %}
				<th>
				<a href="{{ path('/supprimerGrp', {'idGroupe':couple[1].getId() }) }}">
				Supprimer</a>
				</th>
				{% endif %}
				</tr>
			{% endfor %}
			</table>
		{% endif %}

		{% if all == 'false' %}
		{{form_start(form)}}
		{{form_widget(form)}}
		{{form_end(form)}}
		{% endif %}
{% endblock %}

