        {{form_start(rechercheForm)}}
        {{form_widget(rechercheForm)}}
        {{form_end(rechercheForm)}}

        {% if hommes is defined %}
            <table>
            <tr> 
            {% set id = (app.request.attributes.get('idGroupe') ) %}
            <th><a href="{{path('/homme',
            {'idGroupe':id,'ordre':'niveau','sens':'desc'})}}">-</a>
            Niveau
                <a href="{{path('/homme',
            {'idGroupe':id,'ordre':'niveau','sens':'asc'})}}">+</a>
            </th> 
            <th><a href="{{path('/homme',
            {'idGroupe':id,'ordre':'nom','sens':'desc'})}}">-</a>
            Nom
                <a href="{{path('/homme',
            {'idGroupe':id,'ordre':'nom','sens':'asc'})}}">+</a>
            </th>
            <th><a href="{{path('/homme',
            {'idGroupe':id,'ordre':'sexe','sens':'desc'})}}">-</a>
            Sexe
                <a href="{{path('/homme',
            {'idGroupe':id,'ordre':'sexe','sens':'asc'})}}">+</a>
            </th>
            </tr>
            {% for homme in hommes %}
                <tr>
                <th> {{ homme.getNiveau() }} </th>
                <th> {{ homme.getNom() }}</th>
                <th> {{ homme.getSexe() }} </th> 
                </tr>
            {% endfor %}
            </table>
        {% endif %}